.backgroundOfPage{
    position: static;
    margin-left: auto;
    margin-right: auto;
    height: 1024px;
    width: 1440px;
    background-image: linear-gradient(#1CDEEA, #000000);
}
.mainBlock{
    position: static;
    margin-left: auto;
    margin-right: auto;
    height: 811px;
    width: 1206px;
    background-image: linear-gradient(#FDFFFF, #1CDEEA, #215C60);
    border-radius: 50px;
}

.sumBlock{
    position: fixed;
    margin-left: 91px;
}

.rateBlock{
    position: fixed;
    margin-top: 228px;
}

.termBlock{
    position: fixed;
    margin-left: 500px;
}
.dateBlock{
    position: fixed;
    margin-left: 500px;
    margin-top: 158px;
}
.periodBlock{
    position: fixed;
    margin-top: 388px;
}
.footerBlock{
    position: fixed;
    margin-left: 0px;
    margin-top: 609px;
    height: 202px;
    width: 1206px;
    background-image: linear-gradient(#CDDCDD, #83BABE, #000000);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.totalBlock{
    position: fixed;
    margin-top: 50px;
    margin-left: 43px;
    height: 80px;
    width: 255px;
    background-color: #ADCACC;
    border: 0;
    box-shadow: 0px 5px 5px grey;
    border-radius: 10px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.fullBlock{
    position: fixed;
    margin-top: 50px;
    margin-left: 333px;
    height: 80px;
    width: 255px;
    background-color: #ADCACC;
    border: 0;
    box-shadow: 0px 5px 5px grey;
    border-radius: 10px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.overBlock{
    position: fixed;
    margin-top: 50px;
    margin-left: 623px;
    height: 80px;
    width: 255px;
    background-color: #ADCACC;
    border: 0;
    box-shadow: 0px 5px 5px grey;
    border-radius: 10px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.paymentBlock{
    position: fixed;
    margin-top: 50px;
    margin-left: 913px;
}

.inputSum {
    position: relative;
    height: 80px;
    width: 300px;
    background-color: #FDFFFF;
    border: 0;
    box-shadow: 0px 5px 5px grey;
    border-radius: 10px;
    text-align: left;
    font-size: 22px;
}
.selectCurrency{
    position: relative;
    margin-left: 1px;
    margin-top: 128px;
    height: 80px;
    width: 53px;
    background-color: #FDFFFF;
    border: 0;
    box-shadow: 0px 5px 5px grey;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

.inputRate{
    position: relative;
    margin-left: 91px;
    margin-top: 60px;
    height: 80px;
    width: 355px;
    background-color: #FDFFFF;
    border: 0;
    box-shadow: 0px 5px 5px grey;
    border-radius: 10px;
    text-align: left;
    font-size: 22px;
}

.inputFrequency{
    position: relative;
    margin-left: 91px;
    margin-top: 60px;
    height: 80px;
    width: 355px;
    background-color: #FDFFFF;
    border: 0;
    box-shadow: 0px 5px 5px grey;
    border-radius: 10px;
    text-align: left;
    font-size: 22px;
}

.inputTerm {
    position: relative;
    margin-left: 91px;
    margin-top: 128px;
    height: 80px;
    width: 215px;
    background-color: #FDFFFF;
    border: 0;
    box-shadow: 0px 5px 5px grey;
    border-radius: 10px;
    text-align: left;
    font-size: 22px;
}

.selectTerm {
    position: relative;
    margin-left: 1px;
    margin-top: 128px;
    height: 80px;
    width: 140px;
    background-color: #FDFFFF;
    border: 0;
    box-shadow: 0px 5px 5px grey;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
}

.inputDate {
    position: relative;
    margin-left: 91px;
    margin-top: 128px;
    height: 80px;
    width: 355px;
    background-color: #FDFFFF;
    border: 0;
    box-shadow: 0px 5px 5px grey;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
}

.paymentButton{
    position: relative;
    height: 80px;
    width: 255px;
    background-color: #1CDEEA;
    border: 0;
    box-shadow: 0px 5px 5px grey;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.label{

    margin-top: -20px;

}
